<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Portfolio</title>
    <link rel="icon" href="img/favicon.png?v=2" type="image/x-icon" />
    <link rel="stylesheet" href="stylesheets/contact.css" />
  </head>

  <body>
    <!--header-->
    <header class="container">
      <div class="navbar">
        <!-- portfolio logo -->
        <a href="./" class="header">
          <picture>
            <source type="image/svg+xml" srcset="img/logo.svg" />
            <img class="logo" src="img/logo.png" alt="Portfolio logo" />
          </picture>
          <h1 class="logoTitle">Portfolio</h1>
        </a>
        <!--navbar -->
        <nav class="menu">
          <ul>
            <li><a href="about" class="menu-btn">About</a></li>
            <li><a href="services" class="menu-btn">Services</a></li>
            <li><a href="projects" class="menu-btn">Projects</a></li>
            <li><a href="contact" class="menu-btn">Contact</a></li>
          </ul>
        </nav>


        <picture>
          <source type="image/svg+xml" srcset="img/menu.svg" />
          <img src="img/menu.png" class="menu-icon" alt="menu icon" />
        </picture>
      </div>
    </header>

    <!--main-->
    <main>
      <section class="title">
        <h2><b>Contact</b></h2>
      </section>

      <!--hr tag-->
      <hr />

      <section class="contact">
        <div>
          <div id="phone">
            <h2 id="phoneH">Phone</h2>
            <p>(714)-332-7287</p>
          </div>
          <div id="em">
            <h2 id="emH">Email</h2>
            <p>hmlim@ucsd.edu</p>
          </div>
          <div id="loc">
            <h2 id="loH">Location</h2>
            <p>Sandiego, California</p>
          </div>
        </div>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3350.684544719831!2d-117.23620218403009!3d32.88006488602947!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80dc06c4414caf4f%3A0xefb6aafc89913ea7!2sUniversity%20of%20California%20San%20Diego!5e0!3m2!1sen!2sus!4v1658894075179!5m2!1sen!2sus"
            width="400"
            height="350"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </section>

      <div>
        <form onsubmit="sendEmail(); reset(); return false;">
          <fieldset>
            <legend>Contact Form</legend>

            <label for="name">Name:</label>
            <input
              type="text"
              id="name"
              name="name"
              placeholder="Your name.."
            /><br /><br />
            <label for="email">Email:</label>
            <input
              type="email"
              id="email"
              name="email"
              placeholder="Your email.."
            /><br /><br />

            <label for="location">Location:</label>
            <select id="location" name="location">
              <option value="California">California</option>
              <option value="New York">New York</option>
              <option value="Sanfrancisco">Sanfrancisco</option>
              <option value="Other cities in the USA">
                Other cities in the USA
              </option>
              <option value="Other countries">Other countries</option>
            </select>
            <br /><br />

            <label for="message" id="message">Message:</label><br />
            <textarea id="message" name="message" rows="4" cols="50"></textarea
            ><br /><br />

            <input type="submit" value="Submit" />
          </fieldset>
        </form>
      </div>
    </main>
    <!--footer-->
    <footer id="footer">
      <div>
        <h3>Follow me</h3>
        <div class="social-icon">
          <a class="social-item" href="#">
            <picture>
              <source
                type="image/svg+xml"
                srcset="img/instagram.svg"
                width="30"
                height="30"
              />
              <img src="./img/instagram.png" alt="Instagram logo" /> </picture
          ></a>
          <a class="social-item" href="#">
            <picture>
              <source
                type="image/svg+xml"
                srcset="img/facebook.svg"
                width="30"
                height="30"
              />
              <img src="./img/facebook.png" alt="Facebook logo" /> </picture
          ></a>
          <a class="social-item" href="#">
            <picture>
              <source
                type="image/svg+xml"
                srcset="img/youtube.svg"
                width="30"
                height="30"
              />
              <img src="./img/youtube.png" alt="Youtube logo" /> </picture
          ></a>
          <a class="social-item" href="#">
            <picture>
              <source
                type="image/svg+xml"
                srcset="img/github.svg"
                width="30"
                height="30"
              />
              <img src="./img/github.png" alt="Github logo" /> </picture
          ></a>
        </div>
        <div id="copyright">
          <p>Copyright ©2022 Hyunmin. All rights reserved</p>
        </div>
      </div>
    </footer>
    <!-- CDN -->
    <script src="https://smtpjs.com/v3/smtp.js"> </script>
    <script> function sendEmail(){
      Email.send({
          Host : "smtp.gmail.com",
          Username : "hmbest77@gmail.com",
          Password : "C800ED44426177A31D55631CC1B9B52A6AE7",
          To : 'hmlim@ucsd.edu',
          From : document.getElementById("email").value,
          Subject : "New Contact Form Enquiry",
          Body : "Name: " + document.getElementById("name").value + "<br> Email: " + document.getElementById("email").value + "<br> Location: " + document.getElementById("location").value + "<br> Message: " + document.getElementById("message").value
      }).then(
        message => alert("Message Sent Successfully")
      );
    } </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-KE8DS5WDVP"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-KE8DS5WDVP");
    </script>
  </body>
</html>
