<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Portfolio</title>
    <link rel="icon" href="img/favicon.png?v=2" type="image/x-icon" />
    <link rel="stylesheet" href="stylesheets/services.css" />
  </head>

  <body>
    <!--header-->
    <header class="container">
      <div class="navbar">
        <!-- portfolio logo -->
        <a href="./" class="header">
          <picture>
            <source type="image/svg+xml" srcset="img/logo.svg" />
            <img class="logo" src="img/logo.png" alt="Portfolio logo" />
          </picture>
          <h1 class="logoTitle">Portfolio</h1>
        </a>
        <!--navbar -->
        <nav class="menu">
          <ul>
            <li><a href="about" class="menu-btn">About</a></li>
            <li><a href="services" class="menu-btn">Services</a></li>
            <li><a href="projects" class="menu-btn">Projects</a></li>
            <li><a href="contact" class="menu-btn">Contact</a></li>
          </ul>
        </nav>


        <picture>
          <source type="image/svg+xml" srcset="img/menu.svg" />
          <img src="img/menu.png" class="menu-icon" alt="menu icon" />
        </picture>
      </div>
    </header>

    <!--main-->
    <main>
      <section class="title">
        <h2><b>My Services</b></h2>
      </section>

      <!--hr tag-->
      <hr />

      <div class="contain">
        <!--details tag-->
        <details>
          <summary>Frontend Develop</summary>
          <!--ordered list-->
          <ol style="font-size: 1.3rem">
            <li>
              Use markup languages like HTML <br />
              to create user-friendly web pages
            </li>
            <li>Maintain and improve website</li>
            <li>Optimize applications for maximum speed</li>
            <li>Design mobile-based features</li>
          </ol>
        </details>
        <details>
          <summary>Web Design</summary>
          <ol style="font-size: 1.3rem">
            <li>Creating website designs</li>
            <li>Producing sample sites</li>
            <li>
              Keeping up to date with recent technological<br />
              and software developments
            </li>
            <li>
              Developing skills and expertise in appropriate<br />
              software/programming languages
            </li>
          </ol>
        </details>
        <details>
          <summary>Backend Develop</summary>
          <ol style="font-size: 1.3rem">
            <li>
              Integration of user-facing elements<br />
              developed by a front-end developers with server side logic
            </li>
            <li>Building reusable code and libraries for future use</li>
            <li>
              Optimization of the application <br />for maximum speed and
              scalability
            </li>
            <li>Implementation of security and data protection</li>
          </ol>
        </details>
      </div>

      <div class="animation"></div>
    </main>
    <!--footer-->
    <footer id="footer">
      <div>
        <h3>Follow me</h3>
        <div class="social-icon">
          <a class="social-item" href="#">
            <picture>
              <source
                type="image/svg+xml"
                srcset="img/instagram.svg"
                width="30"
                height="30"
              />
              <img src="./img/instagram.png" alt="Instagram logo" /> </picture
          ></a>
          <a class="social-item" href="#">
            <picture>
              <source
                type="image/svg+xml"
                srcset="img/facebook.svg"
                width="30"
                height="30"
              />
              <img src="./img/facebook.png" alt="Facebook logo" /> </picture
          ></a>
          <a class="social-item" href="#">
            <picture>
              <source
                type="image/svg+xml"
                srcset="img/youtube.svg"
                width="30"
                height="30"
              />
              <img src="./img/youtube.png" alt="Youtube logo" /> </picture
          ></a>
          <a class="social-item" href="#">
            <picture>
              <source
                type="image/svg+xml"
                srcset="img/github.svg"
                width="30"
                height="30"
              />
              <img src="./img/github.png" alt="Github logo" /> </picture
          ></a>
        </div>
        <div id="copyright">
          <p>Copyright ©2022 Hyunmin. All rights reserved</p>
        </div>
      </div>
    </footer>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-KE8DS5WDVP"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-KE8DS5WDVP");
    </script>
  </body>
</html>
