:root {
  --h1-color: black;
  --bold-color: rgb(170, 36, 36);
}
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  background: url("/img/backgroundimage.jpg") no-repeat center center fixed;
}

h1 {
  color: var(--h1-color);
  font-family: headerFont, sans-serif;
  font-size: 50px;
  display: inline-block;
}
.container {
  width: 100%;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
}
.logo {
  width: 90px;
  height: 90px;
  cursor: pointer;
  margin: 30px 0;
}
.logoTitle {
  width: 50px;
  cursor: pointer;
  margin: 30px 0;
}

.logoTitle:hover {
  color: rgb(133, 25, 25);
}

.menu-icon {
  width: 25px;
  cursor: pointer;
}

nav {
  flex: 1;
  text-align: right;
}
nav ul li {
  list-style: none;
  display: inline-block;
  margin-right: 30px;
}
nav ul li a {
  text-decoration: none;
  color: rgb(152, 6, 6);
  font-size: 30px;
  font-family: navbarFont, sans-serif;
}
nav ul li a:hover {
  color: rgb(70, 62, 179);
}

@font-face {
  font-family: headerFont;
  src: url(/fonts/Daviton\ DEMO.otf);
}

@font-face {
  font-family: navbarFont;
  src: url(/fonts/Watermelon\ Days.ttf);
}

@font-face {
  font-family: footerFont;
  src: url(/fonts/Lemon\ Days.ttf);
}

@font-face {
  font-family: titleFont;
  src: url(/fonts/Tabuti.ttf);
}

@font-face {
  font-family: containerFont;
  src: url(/fonts/Bros\ Bear.ttf);
}

@font-face {
  font-family: detailsFont;
  src: url(/fonts/Hansip.ttf);
}
footer {
  font-family: footerFont, sans-serif;
}
.bold {
  color: var(--bold-color);
  margin: 50px;
}

.title {
  position: relative;
  text-align: center;
  font-size: 25px;
  font-family: titleFont, sans-serif;
  color: #324254;
}

main .contain {
  margin-top: 12%;
  display: flex;
  justify-content: space-evenly;
}

summary {
  font-family: containerFont, sans-serif;
  font-size: 2rem;
  color: #0516d4;
}

summary:hover {
  color: rgb(48, 48, 201);
}

details ol {
  color: rgb(86, 50, 93);
  font-family: detailsFont, sans-serif;
}

ol li {
  padding: 10px;
}

.animation {
  width: 15px;
  height: 15px;
  background-color: rgb(228, 180, 180);
  position: relative;
  animation-name: example;
  animation-duration: 0.5s;
}

@keyframes example {
  0% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
  100% {
    background-color: green;
    left: 100%;
    top: 0px;
  }
}

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

#footer h3 {
  color: white;
  font-weight: 500;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  margin-top: 10px;
  margin-bottom: 5px;
}

#footer .social-icon {
  margin-bottom: 5px;
}

#footer .social-item {
  max-width: 0.5vw;
  font-size: 0.5em;
  margin-left: 30px;
}

#footer #copyright {
  font-family: sans-serif;
  color: rgb(172, 169, 169);
}

@media screen and (max-width: 700px) {
  nav ul {
    width: 100%;
    background: skyblue;
    position: absolute;
    top: 15px;
    right: 0;
    z-index: 2;
  }
  nav ul li {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  nav ul li a {
    color: #fff;
  }

  main .contain {
    margin-top: 12%;
    display: flex;
    flex-direction: column;
    padding: 50px;
  }

  .navbar img {
    visibility: hidden;
  }

  summary {
    padding: 40px;
  }
}